.product-card{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.product-section{
 display: grid;
 grid-template-columns: repeat(4,1fr);
     
}